*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* it's easier to calculate relative sizes using 10 as a reference (16px default size * 62.5%) */
}

body {
  box-sizing: border-box;
}